.buttons {
    margin-top: 3px;
}
.btn-default {
background: #000000;
margin-right: 0px;
text-decoration-color: aliceblue;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #a6a6a6;
}
.btn-primary{
    margin-top: 5px;
}
