{% extends "base.html" %}
{% block title %}Map{% endblock title %}
{% block description %}Mapping deportees{% endblock description %}

{% block head %}
<link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet" />
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row" id="map-row">
      <div class="col-md-4" id="filters">
        <!--<h3>Timeline</h3>
        <div class="btn-group btn-group-md">
          <button type="button" class="btn btn-default button-skip-backward">
             <span class="glyphicon glyphicon-fast-backward"></span>
             </button>
          <button type="button" class="btn btn-default button-pause">
             <span class="glyphicon glyphicon-pause"></span>
             </button>
          <button type="button" class="btn btn-default button-play">
             <span class="glyphicon glyphicon-play"></span>
             </button>
          <button type="button" class="btn btn-default button-skip-forward">
             <span class="glyphicon glyphicon-fast-forward"></span>
             </button>
        </div>-->
        <h2>May - June 1919 Circuit</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Passengers</h3>
                <p>Luey Mo</p>
                <p>Carmelino Prete</p>
                <p>George Jiminez</p>
                <p>Stefano Grosso</p>
                <p>Hannah Sullivan</p>
            </div>
            <div class="col-md-6">
                <h3>Show By</h3>
                <select text = "select Trains" class="form-control" id="Trains">
                    <option value="" disabled selected>Select your Train</option>
                     <option>Eastbound June 1914</option>
                     <option>Eastbound June - July 1914</option>
                     <option>Westbound October 1914</option>
                     <option>Eastbound November-December 1914</option>
                </select>
                <br>
                <select text = "Nationality" class="form-control selcls" id="National">
                     <option value="" disabled selected>Select Nationality</option>
                     <option>China</option>
                     <option>Ireland</option>
                     <option>India</option>
                     <option>England</option>
                </select>
                <br>
                <select text = "Primary Offence" class="form-control selcls" id="Offencce">
                     <option value="" disabled selected>Choose Primary Offence</option>
                     <option>Become public charge within five years of entry</option>
                     <option>Insane</option>
                     <option>Moral turpitude</option>
                     <option>Violation of Chinese Exclusion Act or Chinese Exclusion Act</option>
                </select>
                <br>
                <select text = "select Trains" class="form-control selcls" id="Trains">
                     <option value="" disabled selected>Initial detention type</option>
                     <option>Eastbound June 1914</option>
                     <option>Eastbound June - July 1914</option>
                     <option>Westbound October 1914</option>
                     <option>Eastbound November-December 1914</option>
                </select>
                <br>
                <!--<ul class="nav nav-pills nav-stacked">
                 <li><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Trains
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                       <li><a href="#">Eastbound June 1914 </a></li>
                       <li><a href="#">Eastbound June - July 1914</a></li>
                       <li><a href="#">Westbound October 1914</a></li>
                       <li><a href="#">Eastbound November-December 1914</a></li>
                       <li><a href="#">Westbound December 1914 - January 1915</a></li>
                       <li><a href="#">1914-1915</a></li>
                       <li><a href="#">Eastbound January 1915</a></li>
                       <li><a href="#">Eastbound March 1915</a></li>
                       <li><a href="#">Eastbound May 1915</a></li>
                       <li><a href="#">Westbound May-June 1919</a></li>
                       <li><a href="#">Eastbound June 1919</a></li>
                       
                  </ul>
                 </li>
                 <li><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Nationality
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                       <li><a href="#">Italy </a></li>
                       <li><a href="#">Mexico</a></li>
                       <li><a href="#">China</a></li>
                       <li><a href="#">Ireland</a></li>
                       <li><a href="#">France</a></li>
                       <li><a href="#">Korea</a></li>
                       <li><a href="#">Japan</a></li>
                       <li><a href="#">Norway</a></li>
                       <li><a href="#">Romania</a></li>
                       <li><a href="#">England</a></li>
                       <li><a href="#">Greece</a></li>
                       <li><a href="#">Austria-Hungary</a></li>
                       <li><a href="#">India</a></li>
                       <li><a href="#">Denmark</a></li>
                       <li><a href="#">Portugal</a></li>
                       <li><a href="#">Scotland</a></li>
                       <li><a href="#">Spain</a></li>
                       <li><a href="#">Great-Britan</a></li>
                  </ul>
                 </li>
                 <li><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Primary Offence
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                       <li><a href="#">Become public charge within five years of entry</a></li>
                       <li><a href="#">Insane</a></li>
                       <li><a href="#">Moral turpitude</a></li>
                       <li><a href="#">Prostitute</a></li>
                       <li><a href="#">Violation of Chinese Exclusion Act or Chinese Exclusion Act</a></li>
                       <li><a href="#">Failed language test</a></li>
                       <li><a href="#">Excluded class of alien</a></li>
                       <li><a href="#">LPC</a></li>
                       <li><a href="#">Found assisting a prostitute</a></li>
                       <li><a href="#">Felony involving moral turpitude</a></li>
                       <li><a href="#">Failed language test</a></li>
                   </ul>
                  </li>
                <li><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Initial Detention type
                  <span class="caret"></span></button>
                    <ul class="dropdown-menu"> </ul>
                    </li>
                  <!--<option class="active"><a data-toggle="pill" href="#trains">Trains</a></li>
                  <li id=nation><a data-toggle="pill" href="#persons">Nationality</a></li>
                  <li id = offence><a data-toggle="pill" href="#persons">Primary offence</a></li>
                  <li id = detention><a data-toggle="pill" href="#persons">Initial detention type</a></li>
                </ul>-->

                <!--<div class="tab-content">
                  <div id="trains" class="tab-pane fade in active">
                    <select class="form-control"></select>
                  </div>
                  <div id="persons" class="tab-pane fade">
                    <select class="form-control"></select>
                  </div>
                </div>-->
            </div>
        </div>

        <hr>
        <div class="text-center">
          <button type="button" class="btn btn-primary" onClick=
"static/js/filter.js">Apply</button>
          <button type="button" class="btn btn-danger" id="reset">Reset</button>
        </div>

      </div>
      <div class="col-md-8">
        <div id="main-map"></div>
      </div>
    </div>
{% endblock content %}




{% block scripts %}
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/rainbowvis.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/main-map.js') }}"></script>-->
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/filter3.js') }}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{% endblock scripts %}
