click==6.6
boto3==1.4.0
flake8==3.0.4
Flask==0.11
Frozen-Flask==0.12
itsdangerous==0.24
Jinja2==2.8
livereload==2.4.1
MarkupSafe==0.23
mccabe==0.5.2
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==2.9.2
requests==2.10.0
six==1.10.0
tornado==4.3
Werkzeug==0.11.10
PyYAML==3.12
